.buttons{
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
}
button{
    height: 2.5rem;
    width: 6rem;
    border: none;
    color: #ffffff;
    margin-right: 10px;
}
button:nth-child(1){
    background: #19105B;
}
button:nth-child(2){
    background: #FF6196;


}
