.content_items {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px; 
}

.project_info {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
}

.content_button_type {
    width: 30%; 
}

input {
    width: 90%; 
    padding: 5px; 
    height: 30px;
    border: 1px solid #eff1f4;
    background-color: #eff1f4;
}
select{
    width: 100%; 
    padding: 5px; 
    height: 35px;
    border: 1px solid #eff1f4;
    background-color: #eff1f4;
}
input:hover {
    border:1px solid  rgb(178, 180, 234);

}
select:hover {
    border:1px solid  rgb(178, 180, 234);

}
