 .App {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
} 

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  min-height: 100vh;
    display: flex;
    width: 100%;
    height: 100%;  
    background: linear-gradient( rgba(21, 13, 107, 0.9) 0%, rgba(9,9,121,1) 35%, rgba(188, 16, 80, 0.9) 100%);
    flex-direction: column;
    align-items: stretch;
}

#sidebar { 
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    height: 90%;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.SideBar_items{
    padding: 6px 0px 0px 20px;
    text-align: start;
}
.SideBar_items:hover{
    color: black;
    background-color: white;
}
.logo{
    width: 30%;
    border-radius: 10px;
}
.user{
    height:10% ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: cyan;
}
.user_items{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
